<div>
  <h2>{{ tituloComp }}</h2>

  <!-- Propriedade idade com uso da diretiva *ngIf - padrão até o Angular 16 -->
   <p *ngIf="idade > 18; then MiniView else OutraMiniView" >

   </p>
   <ng-template #MiniView>
    Tenho mais de 18 anos.
   </ng-template>
   <ng-template #OutraMiniView>
    Não tenho 18 anos.
   </ng-template>

   <!-- Uso da diretiva @if/@else -->
   @if (idade < 18) {
    <p>Não tenho 18 anos.</p>
   }@else if(idade == 18){
    <p>Tenho exatamente 18 anos</p>
   }@else {
    Tenho mais de 18 anos.
   }

</div>
